.admin-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.admin-menu-item {
  display: flex;
  justify-content: center;
  width: 80%;
}

.admin-menu-option {
  max-width: 600px;
  flex: 1 1 0;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  color: #ffffff;
}

.admin-menu-option:hover {
  color: #2c2a2a;
  background-color: #ffffff;
}

.form-input-text {
  color: #2c2a2a;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: medium;
}

.form-submit {
  width: 50%;
  padding: .5rem;
  border-radius: 1rem;
  border: 0;
  color:#2c2a2a;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  font-size: medium;
}