.admin-cookbook-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 1rem;
}

.admin-cookbook-content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 20%;
}

.all-recipies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  width: 200px;
  max-height: 60vh;
  padding-right: .5rem;
}

.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  border: 2px solid #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

.single-recipe img {
  width: 80%;
  max-width: 100px;
  height: auto;
  min-width: 60px;
  border: 2px solid #C67700;
  border-radius: 10px;
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ingredient-input-group {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.new-recipe-content,
.all-recipies-content {
  display: flex;
  flex-direction: column;
}

.new-recipe-content {
  width: 70%;
}

.all-recipies-content {
  width: 30%;
}

.steps-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.step-in-recipe {
  display: flex;
  gap: .5rem;
}

.item-left {
  border-right: 2px solid #ffffff;
  padding-right: .5rem;
}

.item-right {
  padding-left: .5rem;
}

.ingredient-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ingredient-in-recipe {
  width: 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 725px) {
  .admin-cookbook-content {
    flex-direction: column;
    gap: 2rem;
  }

  .all-recipies-content {
    align-items: center;
  }

  .new-recipe-content,
  .all-recipies-content {
    width: 100%;
  }
}