.admin-techs-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  width: 80%;
  gap: 1rem;
}

.admin-techs-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.techs-list {
  margin-top: 1rem;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.tech-list-item {
  color: #2c2a2a;
  background-color: #ffffff;
  padding: .625rem 1.125rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: .2rem;
}

.new-tech-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  align-items: center;
}

.form-submit:hover {
  background-color: #C67700;
}

@media screen and (max-width: 700px) {
  .admin-techs-content {
    flex-direction: column;
    align-items: center;
  }
}